@mixin transition($time: 0.35s) {
	transition: $time;
}

@mixin background-cover() {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@mixin hover-opacity($opacity: 0.5) {
	@include transition;
	&:hover {
    cursor: pointer;
		opacity: $opacity;
	}
}

@mixin hover-move-top($top: 15px) {
	@include transition;
	&:hover {
    margin-top: -$top;
    margin-bottom: 45px;
	}
}